test.ts
.env
.env.*
*.log

server/node_modules/
server/dist/
server/.next/
server/.cache/

plugins/**/node_modules/
plugins/**/dist/
plugins/**/.cache/
plugins/**/.rspack-cache/
plugins/**/.zephyr/

templates/**/node_modules/
templates/**/dist/

plugins.json